<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<div class="container">
    <main>
        <div class="py-5 text-center">

            <h2>NEWSHORE AIR</h2>
            <p class="lead">solución web para poder conectar viajes a través del mundo</p>
        </div>

        <div class="row g-5">
            <div class="col-md-7 col-lg-12">
                <h4 class="mb-3">Your Journey</h4>
                <form class="needs-validation" novalidate="">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">Origin</label>
                            <input type="text" class="form-control" id="firstName" [formControl]="originControl"
                                (input)="convertToUpperCase(originControl)" maxlength="3">
                            <div class="invalid-feedback">
                                Valid Origin is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Destination</label>
                            <input type="text" class="form-control" id="firstName" [formControl]="destinationControl"
                                (input)="convertToUpperCase(destinationControl)" maxlength="3">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="currency" class="form-label">Currency</label>
                            <select class="form-control" id="currency" [formControl]="currencyControl">
                                <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
                            </select>
                          </div>
                    </div>

                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg" (click)="consumeService()"
                        [disabled]="!form.valid || originControl.value === destinationControl.value">Find your
                        flight</button>

                </form>
            </div>
        </div>

        <app-journey [journeyResponse]="journeyResponse" [currencyResponse]="currencyResponse"></app-journey>

    <br>
    <br>
    </main>

</div>